body:not(.accueil) main > div[class^=bloc]:not(.blocTitre){
  margin-bottom: 5rem;
}

//Accordéon
.blocAccordeon-titre{
  background-color: $white;
  padding: 1rem 2rem;
  margin-bottom: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
  color: $color-brand;
}

.blocAccordeon-texte{
  display: none;
  padding: 2rem;
}

//Annuaire
.blocAnnuaire{
  margin-bottom: 5rem;
  &-utilisateur{
    word-break: break-all;
  }
}

.blocAnnuaire-utilisateur-image{
  height: 25rem;
  width: 25rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem;
  background-color: lighten($color-brand, 10);
  @include respond-to("tiny"){
    width: 100%;
  }
  img{
    object-fit: cover;
  }
  svg{
    font-size: 10rem;
  }
  + p{
    text-transform: uppercase;
  }
  ~ p{
    text-align: center;
  }
}

//Bandeau
.blocBandeau{
  height: 60rem;
  overflow: hidden;
  @include respond-to("extra-large"){
    height: 40rem;
  }
  @include respond-to("medium"){
    height: 25rem;
  }
  @include respond-to("small"){
    height: 15rem;
  }
  img{
    width: 100%;
    object-fit: cover;
  }
}

//Catégorie et Rubrique
.blocCategorie-page, .blocRubrique-page{
  margin-bottom: 5rem;
  h2{
    font-size: 3rem;
    font-family: 'Lato';
    text-transform: none;
  }
}

//Formulaire
.blocFormulaire-formulaire{
  > div{
    margin-bottom: 2rem;
    @include respond-to("medium-up"){
      width: 50%;
    }
  }
  [type=text], [type=email], select{
    height: 6.5rem;
    &, textarea{
      font-size: 2rem;
    }
  }
  .bouton{
    display: inline-block;
  }
  p[class^="erreur"]{
    padding-left: 1rem;
    font-size: 1.6rem;
    &:before{
      content: 'X';
      color: #ff0000;
      margin-right: .5rem;
    }
  }
}

//Galerie
@include respond-to("small-up"){
  .blocGalerie > div{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2rem;
    > div{
      max-height: 30rem;
    }
    > div:nth-of-type(8n + 1){
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-end: span 2;
      max-height: 62rem;
    }
    > div:nth-of-type(8n + 2){
      grid-column-start: 3;
      grid-column-end: 7;
      grid-row-end: span 1;
    }
    > div:nth-of-type(8n + 3){
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-end: span 1;
    }
    > div:nth-of-type(8n + 4){
      grid-column-start: 5;
      grid-column-end: 7;
      grid-row-end: span 1;
    }
    > div:nth-of-type(8n + 5){
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-end: span 1;
    }
    > div:nth-of-type(8n + 6){
      grid-column-start: 4;
      grid-column-end: 7;
      grid-row-end: span 1;
    }
    > div:nth-of-type(8n + 7){
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-end: span 1;
    }
    > div:nth-of-type(8n + 8){
      grid-column-start: 3;
      grid-column-end: 7;
      grid-row-end: span 1;
    }
  }
}

.blocGalerie{
  margin-bottom: 5rem;
  a{
    display: block;
    height: 100%;
  }
  img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

//Grille
.blocGrille{
  h3{
    font-size: 1.8rem;
    text-transform: uppercase;
    text-align: center;
  }
  > div > div{
    padding: 0 1rem;
    margin-bottom: 3rem;
  }
}

.blocGrille-case-image{
  width: 90%;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 2rem;
  img{
    object-fit: cover;
  }
}

//LEI
.ficheLEI{
  margin-bottom: 5rem;
  &-image, &-sansImage{
    height: 20rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    a{
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    svg{
      font-size: 10rem;
      opacity: .5;
    }
    img{
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  &-titre{
    font-size: 2.1rem;
    margin-top: 1rem;
  }
  &-description{
    font-size: 1.6rem;
  }
}

.pageFiche{
  &-image{
    max-height: 30rem;
    overflow: hidden;
    margin-bottom: 3rem;
    img{
      object-fit: cover;
    }
  }
}

//Plan du site
.blocPlanDuSite{
  a{
    font-size: 1.6rem;
  }
}

//Recherche
.blocRecherche{
  form{
    position: relative;
    display: inline-block;
  }
  input{
    max-width: 35rem;
    padding: 1rem 2rem;
  }
  button{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
    height: 100%;
    padding: 1rem 2rem;
  }
}

//Réseaux sociaux
.blocReseauxSociaux{
  font-size: 2rem;
  a{
    margin: 0 .5rem;
    font-size: 2.5rem;
  }
}

//Slider
body:not(.accueil) main > div[class^=bloc].blocSlider{
  margin-bottom: 10rem;
  .slick-slide{
    display: flex;
    align-items: center;
    max-height: 40rem;
    overflow: hidden;
    position: relative;
    height: 100%;
  }
  img{
    width: 100%;
  }
}

.blocSlider-slide--texte{
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba($black, .5);
}

.slick-prev, .slick-next{
  z-index: 100;
  font-size: 0;
  background: #FFF;
  border-radius: 50%;
  border: 0;
  width: 4rem;
  height: 4rem;
  padding: 0;
  top: calc(100% + 3rem);
  &:hover{
    background-color: $white;
  }
}

.slick-prev{
  left: -5rem;
  @media screen and (max-width: 120rem){
    left: 0;
  }
  &:before{
    content: url('../img/flecheg.png') !important;
    opacity: 1 !important;
  }
}

.slick-next{
  right: -5rem;
  @media screen and (max-width: 120rem){
    right: 0;
  }
  &:before{
    content: url('../img/fleched.png') !important;
    opacity: 1 !important;
  }
}

.slick-dots{
  bottom: -4rem;
}

.slick-dots li button::before, .slick-dots li.slick-active button::before{
  color: $white !important;
}

.slick-dots li button::before{
  font-size: 1.5rem !important;
}

//Vidéo
.blocVideo, .blocVideos{
  iframe{
    @include respond-to("small"){
      max-height: 20rem;
    }
  }
}

//Vignette
.blocAnnexeVignette{
  height: 30rem;
  overflow: hidden;
  margin-bottom: 2rem;
  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}