footer{
  background-color: $black;
  padding: 5rem 1rem 10rem;
  margin-top: 6.5rem;
}

//Cookies
.cookies{
  background-color: $black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  p{
    margin-bottom: 0;
  }
}

//Menu du footer
footer .blocMenu{
  font-size: 1.5rem;
  margin: 6rem 0 3rem;
  ul{
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    text-align: center;
    @include respond-to("small"){
      flex-direction: column;
    }
    li{
      margin: 0 3rem;
      @include respond-to("small"){
        margin: 1rem 0;
      }
    }
  }
}

//ScrollTop
.scrollTop{
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  background-color: $black;
  z-index: 1000;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: none;
  border: 1px solid;
  color: $white;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-align: center;
  cursor: pointer;
}