footer{
  background-color: $black;
  padding: 5rem 0 7rem;
  margin-top: 6.5rem;
  h3{
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight: $weight-bold;
    margin-bottom: 1rem;
    display: inline-block;
    border-bottom: 2px solid;
  }
}

.groupeBlocs.footer{
  @include centre;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  > *{
    width: 100%;
  }
}

//Logo
footer .blocLogoSite{
  margin-bottom: 6.5rem;
  img{
    max-height: 8rem;
  }
}

//Coordonnées
.groupeBlocs.footer > .coordonnees{
  width: 25%;
  margin-left: 25%;
  @include respond-to("medium"){
    width: 50%;
    margin-left: 0;
  }
  @include respond-to("tiny"){
    width: 100%;
    margin-bottom: 3rem;
  }
}

//Nous suivre
.groupeBlocs.footer > .nousSuivre{
  width: 25%;
  margin-right: 25%;
  @include respond-to("medium"){
    width: 50%;
    margin-right: 0;
  }
  @include respond-to("tiny"){
    width: 100%;
  }
}

//Réseaux sociaux
.groupeBlocs.footer > .reseauxSociauxFooter{
  font-size: 2.5rem;
  width: 25%;
  margin-left: 50%;
  margin-right: 25%;
  margin-top: -9rem;
  @include respond-to("medium"){
    width: 50%;
    margin-right: 0;
  }
  @include respond-to("tiny"){
    width: 100%;
    margin-top: 0;
    margin-left: 0;
  }
}

//Menu
footer .blocMenu{
  font-size: 1.5rem;
  margin: 6rem 0 3rem;
  ul{
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    text-align: center;
    @include respond-to("tiny"){
      flex-direction: column;
    }
    li{
      margin: 0 3rem;
      @include respond-to("tiny"){
        margin: 1rem 0;
      }
    }
  }
}

//ScrollTop
.scrollTop{
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  background-color: $black;
  z-index: 1000;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  display: none;
  border: 1px solid;
  color: $white;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-align: center;
  cursor: pointer;
}

//Cookies
.cookies{
  background-color: $black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  p{
    margin-bottom: 0;
  }
}