//Titres
h2, h3{
  line-height: 1.2;
}

//Ariane
#ariane{
  font-size: 1.4rem;
  margin: 2rem 0;
  &, a{
    color: #6b6b6b;
  }
}

//Boutons
.bouton{
  @include bouton;
}

.titre-page{
  line-height: 1.1;
  margin-bottom: 3rem;
}

//Textes étroits
main{
  .titre-page, .blocTitre, .blocTexte, #ariane, .infos-page{
    padding: 0 5rem;
    @include respond-to("medium"){
      padding: 0 3rem;
    }
    @include respond-to("small"){
      padding: 0 1rem;
    }
  }
}

main{
  > div{
    width: 100%;
  }
  @include respond-to("extra-large"){
    padding: 0 1rem;
  }
}

//Pagination
.pagination{
  margin: 3rem 0;
  ul{
    justify-content: center;
    @include respond-to("small"){
      flex-direction: row;
    }
  }
  li{
    margin: 0 .5rem;
  }
  span{
    opacity: .5;
  }
}